In [1]:
from dask import dataframe as dd

In [2]:
prescr = dd.read_csv('../Data/Outputs_Cleanup/Part_d/prescriber_information.csv')

In [3]:
phys = dd.read_csv('../Data/Outputs_Cleanup/Sunshine/physicians_info.csv')

In [4]:
prescr.head()

,Prscrbr_NPI,Prscrbr_Last_Org_Name,Prscrbr_First_Name,Prscrbr_City,Prscrbr_Type
0,1003000837,John,Richard,Santa Maria,Nurse Practitioner
1,1003001363,Stevens,Charles,El Centro,Pain Management
2,1003001645,Trivedi,Vinod,Sacramento,Infectious Disease
3,1003002049,Srinivasan,Lakshmi,Fremont,Endocrinology
4,1003002742,Lockman,Brett,Sonora,Physical Medicine and Rehabilitation

In [5]:
phys.head()

,Physician_Profile_ID,Physician_First_Name,Physician_Middle_Name,Physician_Last_Name,Physician_Name_Suffix,Recipient_State,Physician_Primary_Type,Physician_Specialty,Physician_License_State_code1,Physician_License_State_code2,Physician_License_State_code3,Physician_License_State_code4,Physician_License_State_code5,Recipient_Zip_Code
0,485819,YAT MIN,NaN,CHEN,NaN,FL,Medical Doctor,Allopathic & Osteopathic Physicians|Obstetrics...,CA,FL,NJ,NaN,NaN,33073-4396
1,231734,EINAT,R,DUHAMEL,NaN,CA,Medical Doctor,Allopathic & Osteopathic Physicians|Obstetrics...,CA,NaN,NaN,NaN,NaN,92024-5110
2,1153066,PETER,HUNG - NGO,VU,NaN,CA,Medical Doctor,Allopathic & Osteopathic Physicians|Pediatrics,CA,NaN,NaN,NaN,NaN,92844-2751
3,453780,LEILA,M,IRAVANI,NaN,CA,Medical Doctor,Allopathic & Osteopathic Physicians|Pediatrics,CA,NaN,NaN,NaN,NaN,92660-8714
4,1351245,NAGA RAMYA,NaN,CHOWDARY,NaN,CA,Medical Doctor,Allopathic & Osteopathic Physicians|Pediatrics,CA,NaN,NaN,NaN,NaN,92501-4026