# Dedupe Preparation
Description: Convert Medicare Part D into a dedupe input by obtaining unique values from Medicare Part D, 
and assigning an Id column to the resulting dataframe.

INPUT: drug_information.csv (From Medicare Part D 2019)

OUTPUT: dataID.csv

In [1]:
import pandas as pd

In [2]:
file = 'drug_information.csv'
df = pd.read_csv(file)
unique = {'brand_name': df['Brnd_Name'].sort_values().unique()}

In [3]:
length = len(unique['brand_name'])

indices = [each for each in range(length)]

df_out = pd.DataFrame(unique)
df_out['Id'] = indices
df_out

                          brand_name    Id
0      1st Tier Unifine Pentips Plus     0
1                           Abacavir     1
2                Abacavir-Lamivudine     2
3     Abacavir-Lamivudine-Zidovudine     3
4                            Abilify     4
...                              ...   ...
2322                         Zymaxid  2322
2323                         Zyprexa  2323
2324                Zyprexa Relprevv  2324
2325                   Zyprexa Zydis  2325
2326                          Zytiga  2326

[2327 rows x 2 columns]

In [4]:
df_out.to_csv('dataID.csv')